/.idea/
/node_modules/
/coverage/
/.nyc_output/
/package-lock.json
/.env
/src/
/*.tgz
/types/_Update.d.ts
/dist/_transformSyncInternal.d.ts
/test/
/.travis.yml
/.nycrc
/mocha.opts
/tsconfig.json
/tsconfig.test.json
/tslint.json
/update-version.js
